@import "./assets/style/colors.scss";

scan-barcode {
  .barcode-icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      background: none !important;
      i{
        font-size: 22px;
        color: $black-38;
      }
    }
  }
}

ion-app.cameraView,
ion-app.cameraView ion-content,
ion-app.cameraView .nav-decor,
ion-header,
ion-navbar,
ion-title {
  background: transparent none !important;
}

ion-app.cameraView {
  background-size: 100% 100% !important;
}
