page-health {
    #map {
        height: 52%;
        width: 100%;
    }
    #request-map {
        height: 30%;
        width: 90%;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .card{
      padding: 24px;
      margin: 16px;
      position: relative;
      border-radius: 16px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      .title{
        font-size: 20px;
        font-weight: 400;
        color: #9b9b9b;
        margin-bottom: 34px;
        text-align: center;
      }
    }
}
