<div class="user-info animated fadeIn" style="animation-delay: 0.1s">
    <div class="avatar-container">
        <div class="notifications-counter animated" [ngClass]="{'bounceIn' : counter !== 0}">
          <span>{{ counter }}</span>
        </div>
        <avatar></avatar>
    </div>
    <div class="user-text">
      <div class="welcome-message">
        <span>{{ 'GENERAL.WELCOME' | translate }}</span>
      </div>
      <div class="user-name">
        <span>Muhammad</span>
      </div>
    </div>
</div>
