@import "./assets/style/colors.scss";

communication-channels {
    .channels-label {
        margin: 24px 24px 12px 24px;
        color: $warm-grey;
        text-align: left;
        font-size: 18px;
    }
    .channel-icons {
      text-align: center;
      padding: 0 24px;
    }
}
