<div class="language-selection animated" [ngClass]="{'fadeOutLeft': hide, 'fadeIn': show}">
  <div class="row">
    <div class="col-4" (click)="changeLanguage($event)">
      <span>عربي</span>
    </div>
    <div class="col-4" (click)="changeLanguage($event)">
      <span>English</span>
    </div>
    <div class="col-4" (click)="changeLanguage($event)">
      <span>Français</span>
    </div>
    <div class="col-4" (click)="changeLanguage($event)">
      <span>Türkçe</span>
    </div>
    <div class="col-4" (click)="changeLanguage($event)">
      <span>اردو</span>
    </div>
    <div class="col-4" (click)="changeLanguage($event)">
      <span>Malay</span>
    </div>
    <div class="col-4" (click)="changeLanguage($event)">
      <span>فارسی</span>
    </div>
    <div class="col-4" (click)="changeLanguage($event)">
      <span>Español</span>
    </div>
    <div class="col-4" (click)="changeLanguage($event)">
      <span>Filipino</span>
    </div>
  </div>
</div>
