channel-icon {
    .channel-icon {
        margin: 5px 0;
        text-align: center;
        .icon {
            width: 63px;
            height: 63px;
            background: #eeeeee;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
        }
        .label {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 500;
        }
    }
}
