<!-- Generated template for the HajjInformationComponent component -->
<div class="hajj-information animated" [ngClass]="{'fadeOutLeft': hide , 'fadeInLeft': show }">
  <loading *ngIf="loading"></loading>
  <div *ngIf="!loading">
    <div class="card">
      <div class="row">
        <div class="col-12">
          <div class="title">
              Your Information
          </div>
        </div>
      </div>
      <div class="card-content row">
        <div class="col-6">
          <div class="group input">
            <input
              [(ngModel)]="hajjData.name"
              disabled
              name="firstName"
              type="text"
              class="ng-pristine ng-touched">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>First Name *</label>
          </div>
        </div>
        <div class="col-6">
          <div class="group input">
            <input
              [(ngModel)]="hajjData.lastName"
              disabled
              name="lastName"
              type="text"
              class="ng-pristine ng-touched">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Last Name *</label>
          </div>
        </div>
        <div class="col-6">
          <div class="radio">
            <label class="custom-radio-btn" for="male">
                <input type="radio" name="css" id="male" value="male" [checked]="hajjData.gender === 0" disabled/>
                <span class="custom-radio-outer">
                  <span class="custom-radio-inner"></span>
                </span>
                Male
              </label>
              <label class="custom-radio-btn" for="css2">
                <input type="radio" name="css" id="css2" value="transform" [checked]="hajjData.gender === 1" disabled/>
                <span class="custom-radio-outer">
                  <span class="custom-radio-inner"></span>
                </span>
                Female
              </label>
              <div class="label">
                  <span>Gender *</span>
              </div>
          </div>
        </div>
        <div class="col-6">
          <div class="group input">
            <input
              [(ngModel)]="hajjData.phoneNumber"
              disabled
              name="phoneNumber"
              type="text"
              class="ng-pristine ng-touched">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Phone Number *</label>
          </div>
        </div>
        <div class="col-12">
          <div class="group input">
            <input
              [value]="getAgeGroup(hajjData.age)"
              disabled
              name="age"
              type="text"
              class="ng-pristine ng-touched">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Age Group *</label>
          </div>
        </div>
        <div class="col-12">
          <div class="group input">
            <input
              [value]="getNationality(hajjData.nationality)"
              disabled
              name="nationality"
              type="text"
              class="ng-pristine ng-touched">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Nationality *</label>
          </div>
        </div>
        <div class="col-12">
          <div class="group input">
            <input
              [(ngModel)]="hajjData.campaignName"
              disabled
              name="campaignName"
              type="text"
              class="ng-pristine ng-touched">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Campaign Name *</label>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="registerHajj()"
      class="rkmd-btn btn-teal ripple-effect rounded full-width">Confirm</button>
  </div>
</div>
