hajj-information {
  .card{
    padding: 24px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    .title{
      font-size: 20px;
      font-weight: 500;
      color: #9b9b9b;
      margin-bottom: 34px;
    }

  }
}
