hajj-timeline {
    @keyframes exapnd {
        from {bottom: 0px}
        to {bottom: 78px}
    }
    @keyframes collapse {
        from {bottom: 78px}
        to {bottom: 0px}
    }
    .timeline {
        width: 95%;
        height: 30%;
        margin: 0 auto;
        position: relative;
        border-radius: 16px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
        transition: height 0.5s;
        transition-timing-function: ease;
        animation-name: collapse;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        overflow: hidden;
        .line {
          width: 2px;
          background: #dddddd;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50px;
          height: 138%;
        }
        .day{
          padding: 10px;
          padding-top: 30px;
        }
        .icon{
          position: absolute;
          display: flex;
          width: 80px;
          justify-content: center;
          height: 61px;
          left: 9px;
        }
    }
    .expanded {
        height: 97%;
        -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
        transition: height 0.5s;
        transition-timing-function: ease;
        animation-name: exapnd;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        overflow: auto;
    }
    .head {
      display: flex;
      align-items: center;
        .dayNumber {
            font-size: 48px;
            font-weight: 500;
        }
        .monthName {
            font-size: 18px;
            font-weight: 500;
        }
        .dayName {
            font-size: 14px;
            font-weight: 500;
            color: #7a7a7a;
        }
    }
    .body {
        font-size: 12px;
        span#more {
            color: #2288bb;
        }
    }
}
