<div (tap)="expandTimeline($event)" class="timeline animated fadeIn" [ngClass]="isExpanded?'expanded':''">
    <div class="line"></div>
    <div class="day" *ngFor="let day of hajjDays" id="{{day.dayNumber}}">
      <div class="icon">
        <img src="{{ './assets/imgs/' + day.iconName + '.svg'}}">
      </div>
      <div style="margin-left: 85px;">
        <div class="head">
            <div class="dayNumber">
                <label>{{day.dayNumber}}</label>
            </div>
            <div style="margin-left: 8px;">
              <div class="monthName">
                  <label>Dhu Al-Hijjah</label>
              </div>
              <div class="dayName">
                  <label>{{day.dayName}}</label>
              </div>
            </div>
        </div>
        <div class="body">
            <span>{{day.description}}</span>
        </div>
      </div>
    </div>
</div>
